<style>
    .custButton {
        cursor: pointer;
        padding: 10px;
        border-radius: 7px;
        border: none;
    }

    .custButton:hover {
        background-color: #dddddd;
    }

    .answ-hidden {
        display: none;
    }
</style>


<div style="display: flex; align-items: center;">
    <form id="djauth" action="{% url 'rqst_tlg' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="token" value={{token}}>
        <input type="hidden" name="bot" value={{bot}}>
        <button type="submit" class="custButton">Войти через Телеграм</button>
    </form>
    <div style="display: flex; align-items: center; padding: 10px;">
        <div id="loader" class="answ-hidden" style="color: #ecaa67;">Ждём ответ...</div>
    </div>
</div>
<script>
    //Ожидание загрузки
    function toggleLoader() {
        const loader = document.getElementById("loader")
        loader.classList.toggle("answ-hidden")
    }

    //Перехват отправки формы в Django и перед этим запрос в Telegram 
    document.getElementById("djauth").addEventListener("submit", function (e) {
        e.preventDefault();
        toggleLoader()

        const formData = new FormData(djauth);
        const url_Dj = "/rqst_tlg/";
        const url_Tg = "https://t.me/{{bot}}?start={{token}}";

        window.open(url_Tg, "_blank");

        fetch(url_Dj, {
            method: "POST",
            body: formData,
        })
            .then(response => response.json())
            .then(data => {
                if (data["error"] === "0") {
                    window.location.href = "/";
                } else {
                    console.error("Error:", data["error"]);
                    window.location.href = "/";
                }
            })
            .catch(error => {
                console.error("Error:", error);
                window.location.href = "/";
            });
        // toggleLoader()
    });

</script>